@media (max-width: 480px) {
  table thead tr th:nth-child(1) {
    display: none;
  }
  table tbody tr td:nth-child(1) {
    display: none;
  }
  table tbody tr td:nth-child(4) {
    width: 100px;
  }
  table tbody tr td:nth-child(4) a.btn, table tbody tr td:nth-child(4) a.btn-small table tbody tr td:nth-child(4) a.btn-success {
    padding: 2px;
    margin: 0px;
  }
  table tbody tr td:nth-child(4) a i {
    display: none;
  }
}
