<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>遊戲匙</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{site_url}}/public/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="{{site_url}}/public/stylesheets/backend.css" rel="stylesheet">
<link href="{{site_url}}/public/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
<link href="{{site_url}}/public/stylesheets/backend-responsive.css" rel="stylesheet">
<script type="text/javascript" src="{{site_url}}/public/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="{{site_url}}/public/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site_url}}/public/javascripts/backend.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			{% if _SESSION['username'] %}
				<a class="brand" href="{{site_url}}/panel/home">遊戲匙</a>
			{% else %}
				<a class="brand" href="{{site_url}}/panel">遊戲匙</a>
			{% endif %}
			<div class="nav-collapse">
				<ul class="nav">
					<li><a href="{{site_url}}/key">金鑰管理</a></li>
					{# <li><a href="{{site_url}}/account">帳號管理</a></li> #}
					{# <li><a href="{{site_url}}/setting">系統設置</a></li> #}
				</ul>
				<p class="navbar-text pull-right">帳號: {{ _SESSION['username'] }} <a href="{{site_url}}/panel/logout">(登出)</a></p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	{% include "shared/flash-message.html" %}
	{% block container %}
	{% endblock %}
	<hr>
	<footer>
		<p>&copy; SimpleCRM 2012</p>
	</footer>
</div>
</body>
</html>