{% extends 'layout/backend.html' %}

{% block container %}
<div class="hero-unit">
	<div class="row">
		<div class="span3 offset3">
			<form class='form-horizontal' action='setting/save' method='post'>
				<fieldset>
					<legend>系統設置</legend>
					<div class="control-group">
						<label class='control-label'>應用程式 ID</label>
						<div class='controls'>
							<input type="text" name="app_id" value="{{ setting.app_id }}">
						</div>
					</div>
					<legend>訊息內容</legend>
					<div class="control-group">
						<label class='control-label'>標題</label>
						<div class='controls'>
							<input type="text" name="title" value="{{ setting.title }}">
						</div>
					</div>
					<div class="control-group">
						<label class='control-label'>連結</label>
						<div class='controls'>
							<input type="text" name="link" value="{{ setting.link }}">
						</div>
					</div>
					<div class="control-group">
						<label class='control-label'>圖片網址</label>
						<div class='controls'>
							<input type="text" name="picture" value="{{ setting.picture }}">
						</div>
					</div>
					<div class="control-group">
						<label class='control-label'>副標題</label>
						<div class='controls'>
							<input type="text" name="caption" value="{{ setting.caption }}">
						</div>
					</div>
					<div class="control-group">
						<label class='control-label'>內容描述</label>
						<div class='controls'>
							<textarea name="description">{{ setting.description }}</textarea>
						</div>
					</div>
					<div class="control-group">
						<div class='controls'>
							<button type="submit" class="btn btn-primary">修改</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}